.vscode
/node_modules
/public/mix-manifest.json
/public/js
/public/css
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.env.production
.env.backup
ecs-task-definition-for-web.json
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.github/workflows/deploy.yml
