$breakpoint-pc: 1024px;
$breakpoint-tablet: 896px;

@mixin max-screen($breakpoint-tablet) {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin max-screen($breakpoint-pc) {
  @media screen and (max-width: $breakpoint-pc) {
    @content;
  }
}

/* show */

.user-container {
    margin-top: 100px;
    padding: 0 20px;
  }

.user_title {
  border-bottom: 2px solid #F96167;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile {
  width: 100%;
  border:.5px solid #fff;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
  margin-bottom: 30px;
  padding: 1rem;
}

.profile_top {
  position: relative;
  display: flex;
  width: 100%;
  padding-left: 60px;

  @include max-screen($breakpoint-tablet) {
    display: inline-block;
    text-align: center;
    padding: 0;
  }
}

.profile_image {
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}

.profile_name {
  position: relative;
  top: 10px;
  left: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;

  @include max-screen($breakpoint-tablet) {
    left: 0;
  }
}

.profile_content {
  span {
    left: 0;
  }

  span,
  button {
    position: relative;
    left: 20px;
    margin-top: 10px;
    margin-right: 10px;
  }

  button {
    cursor: pointer;

    @include max-screen($breakpoint-tablet) {
      display: block;
      top: 0;
      left: 0;
      margin: auto;
      margin-top: 26px;
    }
  }
}

.profile_edit_link {
  position: absolute;
  margin-bottom: 20px;
  right: 0;

  @include max-screen($breakpoint-tablet) {
    position: relative;
    margin-top: 30px;
  }
}

.profile_under {
  width: 100%;
  padding-left: 12.5rem;

  @include max-screen($breakpoint-tablet) {
    max-width: 25rem;
    margin: 15px auto 0;
    padding: 0;
  }
}

.user-tabs {
  width: 100%;
}

.nav-item {
  cursor: pointer;
}

.tab_under {
  overflow: auto;
  max-height: 825px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.followings_user_name {
  margin-top: 10px;
  color: black;
  font-size: 1.3rem;
  font-weight: 200;
  text-decoration: none;
}

.tabItem_none {
  width: 100%;
  text-align: center;
  margin: 2.3rem 0;
  font-size: 2rem;
  color: rgba(0,100,255,0.9);
  opacity: 0;
  animation: fadeIn .1s linear 1s 1 normal forwards;
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

/* edit */

.user-edit_body {
  margin-top: 100px;
  display: block;

  h1 {
    text-align: center;
    font-size: 45px;
    font-weight:bold;
    color: transparent;
    background : rgba(0,0,0,1);
    text-shadow:
        0 0 0.1em rgba(255,255,255,0.05),
        0.01em 0.04em 0.03em rgba(255,255,255,0.4);
    -webkit-background-clip : text;
  }
}


.user_edit_form {
  border:.5px solid #fff;
  border-radius:10px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
  margin-top: 30px;
  padding: 1em 2em 2em 2em;
  background-color: #fff;

  label {
    font-size: 19px;
  }

  div:last-child {
    text-align: center;
  }
}


.user-edit_text {
  position: relative;

  input[type='text'],
  input[type='email'] {
    font: 18px sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    padding-left: 40px;
    border: 0;

    &:focus,
    &:focus::after {
      outline: none;
    }
  }

  span {
    position: absolute;
    top: 8px;
    left: 0;
    transition: 0.3s;
  }

  textarea {
    width: 100%;
    font: 18px sans-serif;

    &:focus,
    &:focus::after {
      outline: none;
    }
  }

  &::after {
    display: block;
    width: 100%;
    height: 4px;
    margin-top: -1px;
    content: '';
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #da3c41;
  }
}

.user_errors {
  list-style: none;
  position: relative;
  right: 40px;
}

.user_edit-button {
  padding: 8px 12px 8px 12px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  display: inline-block;
  border: 3px solid #000;

  &:hover {
    background: #000;
    color: #fff;
  }

  &:active {
    top: 2px;
  }
}

.back_link {
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.3rem;
}