@charset "UTF-8";

body {
  font-family: "Osaka", sans-serif;
  /* background-color: #EEFFFF; */
  background-color: #fff;
  min-height: 100vh;
}

.page_body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.error_msg {
  color: red;
}

/* header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 100, 255, 0.7);
  color: #fff;
  z-index: 10;
}

header:focus-within {
  outline: none;
}

.nav_title {
  position: fixed;
  top: 14px;
  padding-left: 20px;
  color: white;
  font-size: 25px;
}

.nav_title:hover {
  text-decoration: none;
  color: white;
}

.nav_content ul {
  list-style: none;
}

.nav_content li {
  position: relative;
  right: 2%;
  float: right;
  top: 3px;
  z-index: 11;
}

.nav_content li a,
.nav_content li span {
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 25px;
  color: #fff;
}

.nav_content li a:hover,
.nav_content li span:hover {
  color: rgba(255, 255, 255, 0.7);
}

.nav_content:focus-within {
  outline: none;
}

@media screen and (max-width: 896px) {
  .nav_container {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    opacity: 0.9;
    visibility: visible;
  }

  .nav_container .nav_background {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    height: calc(100% - 70px);
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    background: #000;
  }

  .nav_container .visible_nav_background {
    visibility: visible;
    opacity: 0.6;
  }

  .nav_container .nav_button {
    position: relative;
    display: flex;
    margin: 0 30px 0 auto;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    height: 70px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    border: none;
  }

  .nav_container .nav_icon_bar {
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    transition: 0.3s;
    margin-top: 5px;
  }

  .nav_container:focus-within .nav_button {
    pointer-events: none;
    outline: none;
  }

  .nav_container .change_nav_icon_bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }

  .nav_container .change_nav_icon_bar:nth-of-type(2) {
    opacity: 0;
  }

  .nav_container .change_nav_icon_bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }

  .nav_container .nav_content {
    margin-top: 70px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 70px);
    background: #ececec;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(100%);
    transition: transform 0.2s;
    will-change: transform;
    contain: paint;
    transition-delay: 0.2s;
  }

  .nav_container .nav_content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .nav_container .nav_content li a,
  .nav_container .nav_content li span {
    color: #555555;
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    transition: color 0.1s;
  }

  .nav_container .nav_content li a:hover,
  .nav_container .nav_content li span:hover {
    color: #BF7497;
  }

  .nav_container .open_nav_content {
    transform: none;
  }
}

/*flash_message*/

.flash_message {
  position: fixed;
  top: 90px;
  text-align: center;
  padding: 15px 0;
  width: 250px;
  z-index: 2;
  -webkit-animation: fadeout 1.5s ease 2.3s 1 forwards;
          animation: fadeout 1.5s ease 2.3s 1 forwards;
  font-weight: bold;
  color: #fff;
  background-color: #28a745;
  border-radius: 20px;
  margin-left: 20px;
}

/*error_message*/

.error_message {
  position: fixed;
  top: 90px;
  text-align: center;
  padding: 15px 10px;
  width: 253px;
  z-index: 20;
  -webkit-animation: fadeout 1.5s ease 2.3s 1 forwards;
          animation: fadeout 1.5s ease 2.3s 1 forwards;
  font-weight: bold;
  color: #fff;
  background-color: #FF6699;
  border-radius: 20px;
  margin-left: 20px;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* footer */

.footer {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 2em;
  background-color: #DDDDDD;
}

.footer_sentence {
  position: relative;
  top: 10px;
  opacity: 0.7;
}

.footer_sentence span {
  margin-left: 10px;
  font-size: 2rem;
  display: inline-block;
}

.footer_sentence span a:first-child {
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .footer_sentence span {
    display: block;
  }
}

.qiita_icon {
  color: #4cb10d;
}

.qiita_icon .qiita_search_icon {
  position: relative;
  right: 38px;
}

.contact_link {
  color: #000;
}

/* ロード画面 */

.toppage_loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
          animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.toppage_loaded {
  opacity: 0;
  visibility: hidden;
}

/* トップページ */

.top {
  position: relative;
  background-image: url("/images/turi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-position: center center;
  padding: 75px 20px 50px;
  z-index: 0;
}

.top p {
  position: relative;
  top: 40px;
  color: #ffffff;
  font-size: 30px;
}

.top p span {
  display: inline-block;
}

.top button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  background: #ffffff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: 0.8s;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.top button a {
  transition: 0.8s;
  color: #fff;
  text-decoration: none;
}

.top button span {
  position: relative;
  z-index: 1;
}

.top button::before,
.top button::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 50%;
  height: 100%;
  transition: 0.2s;
}

.top button::before {
  left: 0;
}

.top button::after {
  right: 0;
}

.top button:hover::before,
.top button:hover::after {
  width: 0;
}

.top button:hover {
  text-decoration: none;
}

.top button:focus-within {
  outline: none;
}

.top-title {
  position: relative;
  top: 20px;
  font-weight: bold;
  font-size: 5rem;
  color: #DDFFFF;
  text-shadow: 5px 5px 5px #808080;
}

.top_login_button {
  margin: 70px 20px 0 0;
}

.top_login_button:hover a {
  color: #0064ff;
}

.top_login_button::before,
.top_login_button::after,
.top_login_button:hover::before,
.top_login_button:hover::after {
  background-color: rgba(0, 100, 255, 0.8);
}

.top_signup_button::before,
.top_signup_button::after,
.top_signup_button:hover::before,
.top_signup_button:hover::after {
  background: rgba(255, 0, 0, 0.8);
}

.top_signup_button:hover a {
  color: #e41313;
}

.top_guest_login_button {
  margin-top: 20px;
}

.top_guest_login_button:hover {
  color: #28a745;
}

.top_guest_login_button::before,
.top_guest_login_button::after,
.top_guest_login_button:hover::before,
.top_guest_login_button:hover::after {
  background: rgba(22, 163, 21, 0.8);
}

.top-slider {
  display: flex;
  margin: 40px auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4;
  color: #525263;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  max-width: 1130px;
}

.spot-intro_image {
  opacity: 0;
  transform: translateX(-50px);
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .spot-intro_image {
    padding: 50px;
  }
}

@media screen and (max-width: 896px) {
  .spot-intro_image {
    display: none;
  }
}

.spot-intro_expla {
  opacity: 0;
  transform: translateX(50px);
  text-align: center;
}

.spot-intro_expla p:first-child {
  font-family: serif;
  font-weight: bold;
  font-size: 28px;
}

.spot-intro_expla p:last-child {
  padding: 0 20px;
  text-align: left;
  font-size: 18px;
  line-height: 2.7;
  letter-spacing: 2px;
  opacity: 0.8;
}

@media screen and (max-width: 896px) {
  .spot-intro_expla p:last-child {
    padding: 0;
    line-height: 2;
  }
}

.show .spot-intro_image,
.show .spot-intro_expla {
  opacity: 1;
  transition: 1s;
  transform: none;
}

.show .self-intro_expla,
.show .self-intro_image {
  opacity: 1;
  transition: 1s;
  transform: none;
}

.spot-intro_image img {
  width: 100%;
}

.self-intro_expla {
  opacity: 0;
  transform: translateX(-50px);
  text-align: center;
  width: 160%;
  margin-right: 30px;
}

.self-intro_expla p:first-child {
  display: inline-block;
  font-family: serif;
  font-weight: bold;
  font-size: 28px;
}

.self-intro_expla p:last-child {
  padding: 0 40px;
  text-align: left;
  font-size: 18px;
  line-height: 2.7;
  letter-spacing: 2px;
  opacity: 0.8;
}

@media screen and (max-width: 896px) {
  .self-intro_expla p:last-child {
    padding: 0;
    margin-top: 20px;
    line-height: 2;
  }
}

.self-intro_expla img {
  display: none;
}

@media screen and (max-width: 896px) {
  .self-intro_expla {
    margin-right: 0;
  }

  .self-intro_expla img {
    display: block;
    margin: auto;
    width: 60%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
  }
}

.self-intro_image {
  opacity: 0;
  transform: translateX(50px);
  margin: auto;
}

.self-intro_image img {
  width: 100%;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

@media screen and (max-width: 896px) {
  .self-intro_image {
    display: none;
  }
}

@media screen and (max-width: 896px) {
  .spot-intro_expla,
  .self-intro_expla {
    width: 100%;
  }
}

/* 新規登録ページ、ログインページ */

.signup_body {
  background-image: url("/images/signout.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70rem;
}

.login_body {
  background-image: url("/images/signout.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
}

.login_signup {
  position: relative;
  width: 425px;
  top: 80px;
}

.login_signup textarea,
.login_signup input[type=text],
.login_signup input[type=email],
.login_signup input[type=password] {
  margin: auto;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  outline: none;
  width: 75%;
}

.login_signup input[type=file] {
  margin: auto;
  width: 76%;
}

.login_signup input::-moz-placeholder {
  font-weight: bold;
  opacity: 0.7;
}

.login_signup input:-ms-input-placeholder {
  font-weight: bold;
  opacity: 0.7;
}

.login_signup input::placeholder {
  font-weight: bold;
  opacity: 0.7;
}

.login_signup input:focus {
  background: #DDDDDD;
}

.login_signup_header h1 {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  font-size: 250%;
}

.login_signup_form {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.5px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  padding: 2em 0;
  box-sizing: border-box;
  padding-top: 25px;
  margin: 5% auto;
  text-align: center;
}

.login_signup_form label {
  display: block;
  text-align: left;
  color: #fff;
  margin: 20px 0 10px 20px;
  padding-left: 1em;
  font-size: 1.4em;
}

.login_signup_form ul {
  list-style: none;
  text-align: left;
}

.login_signup_form li {
  position: relative;
  width: 110%;
  right: 35px;
}

.login_signup_form p {
  position: relative;
  margin: auto;
  margin-top: 3px;
  font-size: 15px;
  font-weight: bold;
  width: 75%;
}

.required:after {
  content: " *";
  color: red;
}

.login-signup-button {
  height: 30px;
  padding: 0.2em 1em 1em 1em;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  color: slategrey;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 30px;
  outline: none;
}

.login-signup-button:hover {
  background: #EEEEEE;
}

.login-signup-button:focus-within {
  outline: none;
}

.back {
  margin: 0;
}

.sign-up {
  font-size: 18px;
  color: #f2f2f2;
  margin-left: -70%;
  cursor: pointer;
}

.sign-up:hover {
  color: #f2f2f2;
}

.login-signup-password {
  position: relative;
  display: flex;
}

.password_toggle {
  position: absolute;
  top: 13px;
  right: 60px;
  z-index: 10;
  transform: scale(2.4);
  cursor: pointer;
  opacity: 0;
}

.password_label {
  position: absolute;
  top: 7px;
  right: 56px;
  cursor: pointer;
}

.contact_body {
  background-image: url("/images/signout.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 52rem;
  padding-top: 100px;
}

.contact_header h1 {
  color: #fff;
  text-align: center;
  font-size: 250%;
}

.contact_form {
  border: 0.5px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 30px auto 0 auto;
  padding: 1em 2em 2em 2em;
  background-color: #fff;
}

.contact_form label {
  margin-top: 10px;
}

.contact_form ul {
  list-style: none;
}

.contact_form li {
  position: relative;
  right: 35px;
  width: 110%;
}

.contact_form a {
  display: block;
  text-align: center;
}

.text_limit {
  text-align: end;
}

.contact_button {
  padding: 8px 12px 8px 12px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  display: inline-block;
  border: 3px solid #000;
}

.contact_button:hover {
  background: #000;
  color: #fff;
}

.contact_button:active {
  top: 2px;
}

.contact_table {
  font-family: "Roboto";
  margin: 10px 0 30px 0;
  width: 100%;
  text-align: center;
}

.contact_table th {
  width: 30%;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #dedede;
}

.contact_table td {
  text-align: center;
  padding: 10px 0.5em;
  border: 1px solid #dedede;
}

.contact_table .contact_table_body {
  text-align: left;
  padding-left: 10%;
}

.contact_table input,
.contact_table textarea {
  display: none;
}


