@charset "UTF-8";

body {
  font-family: "Osaka", sans-serif;
  /* background-color: #EEFFFF; */
  background-color: #fff;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#app {
  flex: 1;
  position: relative;
}

.error_msg {
  color: red;
}

.pagination {
  margin-top: 50px;
  justify-content: center;
}

/* header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 100, 255, 0.7);
  color: #fff;
  z-index: 10;
}

header:focus-within {
  outline: none;
}

.nav-title {
  position: fixed;
  top: 14px;
  padding-left: 20px;
  color: white;
  font-size: 25px;
}

.nav-title:hover {
  text-decoration: none;
  color: white;
}

.nav-content ul {
  list-style: none;
}

.nav-content:focus-within {
  outline: none;
}

.nav-content li {
  position: relative;
  right: 2%;
  float: right;
  top: 3px;
  z-index: 11;
}

.nav-content li a {
  font-size: 20px;
  margin-left: 25px;
  color: #fff;
}

.nav-content li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 800px) {
  .nav-container {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    opacity: 0.9;
  }

  .nav-container .nav-bg {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    height: calc(100% - 70px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background: #000;
  }

  .nav-container:focus-within .nav-bg {
    visibility: visible;
    opacity: 0.6;
  }

  .nav-container * {
    visibility: visible;
  }

  .nav-button {
    position: relative;
    display: flex;
    margin: 0 30px 0 auto;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    height: 70px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    border: none;
  }

  .nav-icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    transition: 0.3s;
  }

  .nav-icon-bar + .nav-icon-bar {
    margin-top: 5px;
  }

  .nav-container:focus-within .nav-button {
    pointer-events: none;
    outline: none;
  }

  .nav-container:focus-within .nav-icon-bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }

  .nav-container:focus-within .nav-icon-bar:nth-of-type(2) {
    opacity: 0;
  }

  .nav-container:focus-within .nav-icon-bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }

  .nav-content {
    margin-top: 70px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 70px);
    background: #ececec;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(100%);
    transition: transform 0.2s;
    will-change: transform;
    contain: paint;
    transition-delay: 0.4s;
  }

  .nav-content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .nav-content li a {
    color: #555555;
    padding: 10px 5px;
    display: block;
    transition: color 0.1s;
  }

  .nav-content li a:hover {
    color: #BF7497;
  }

  .nav-container:focus-within .nav-content {
    transform: none;
  }
}

/*flash_message*/

.flash_message {
  position: fixed;
  top: 90px;
  text-align: center;
  padding: 15px 0;
  width: 300px;
  z-index: 20;
  -webkit-animation: fadeout 1.5s ease 2.3s 1 forwards;
          animation: fadeout 1.5s ease 2.3s 1 forwards;
  font-weight: bold;
  color: #fff;
  background-color: #28a745;
  border-radius: 20px;
  margin-left: 20px;
}

/*error_message*/

.error_message {
  position: fixed;
  top: 90px;
  text-align: center;
  padding: 15px 10px;
  width: 253px;
  z-index: 20;
  -webkit-animation: fadeout 1.5s ease 2.3s 1 forwards;
          animation: fadeout 1.5s ease 2.3s 1 forwards;
  font-weight: bold;
  color: #fff;
  background-color: #FF6699;
  border-radius: 20px;
  margin-left: 20px;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* footer */

.footer {
  position: relative;
  height: 116px;
  width: 100%;
  text-align: center;
  padding: 2em;
  background-color: #DDDDDD;
}

.footer_sentence {
  position: relative;
  top: 10px;
  opacity: 0.7;
}

/* ロード画面 */

#js-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
}

.js-spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
          animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.js-loaded {
  opacity: 0;
  visibility: hidden;
}

/* トップページ */

.top {
  position: relative;
  background-image: url("/images/turi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-position: center center;
  padding: 75px 20px 50px;
  z-index: 0;
}

.top-title {
  position: relative;
  top: 20px;
  font-weight: bold;
  font-size: 5rem;
  color: #DDFFFF;
  text-shadow: 5px 5px 5px #808080;
}

.top p {
  position: relative;
  top: 40px;
  color: #ffffff;
  font-size: 30px;
}

.top p span {
  display: inline-block;
}

.top a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  background: #ffffff;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: 0.8s;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.top a span {
  position: relative;
  z-index: 1;
}

.top a::before,
.top a::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 50%;
  height: 100%;
  transition: 0.2s;
}

.top a::before {
  left: 0;
}

.top a::after {
  right: 0;
}

.top a:hover::before,
.top a:hover::after {
  width: 0;
}

.top a:hover {
  text-decoration: none;
}

.top-login-button {
  margin: 70px 20px 0 0;
}

.top-login-button::before,
.top-login-button::after,
.top-login-button:hover::before,
.top-login-button:hover::after {
  background-color: rgba(0, 100, 255, 0.8);
}

.top-login-button:hover {
  color: #0064ff;
}

.top-signup-button::before,
.top-signup-button::after,
.top-signup-button:hover::before,
.top-signup-button:hover::after {
  background: rgba(255, 0, 0, 0.8);
}

.top-signup-button:hover {
  color: #e41313;
}

.top-guest_login-button {
  margin-top: 20px;
}

.top-guest_login-button::before,
.top-guest_login-button::after,
.top-guest_login-button:hover::before,
.top-guest_login-button:hover::after {
  background: rgba(22, 163, 21, 0.8);
}

.top-guest_login-button:hover {
  color: #28a745;
}

.top-slider {
  display: flex;
  margin: 40px auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4;
  color: #525263;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  max-width: 1130px;
}

.spot-intro_image {
  opacity: 0;
  transform: translateX(-50px);
  margin: auto;
}

.spot-intro_expla {
  opacity: 0;
  transform: translateX(50px);
  text-align: center;
}

.show .spot-intro_image,
.show .spot-intro_expla {
  opacity: 1;
  transition: 1s;
  transform: none;
}

.spot-intro_expla p:first-child {
  font-family: serif;
  font-weight: bold;
  font-size: 28px;
}

.spot-intro_expla p:last-child {
  padding: 0 20px;
  text-align: left;
  font-size: 18px;
  line-height: 2.7;
  letter-spacing: 2px;
  opacity: 0.8;
}

.spot-intro_image img {
  width: 100%;
}

.self-intro_expla {
  opacity: 0;
  transform: translateX(50px);
  text-align: center;
  width: 160%;
  margin-right: 30px;
}

.self-intro_expla p:first-child {
  display: inline-block;
  font-family: serif;
  font-weight: bold;
  font-size: 28px;
}

.self-intro_expla p:last-child {
  padding: 0 40px;
  text-align: left;
  font-size: 18px;
  line-height: 2.7;
  letter-spacing: 2px;
  opacity: 0.8;
}

.self-intro_expla img {
  display: none;
}

.self-intro_image {
  opacity: 0;
  transform: translateX(-50px);
  margin: auto;
}

.show .self-intro_expla,
.show .self-intro_image {
  opacity: 1;
  transition: 1s;
  transform: none;
}

.self-intro_image img {
  width: 100%;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

@media only screen and (min-width: 1000px) {
  .spot-intro_image {
    padding: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .spot-intro_image {
    display: none;
  }

  .spot-intro_expla,
  .self-intro_expla {
    width: 100%;
  }

  .self-intro_expla {
    margin-right: 0;
  }

  .self-intro_expla img {
    display: block;
    margin: auto;
    width: 60%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
  }

  .self-intro_image {
    display: none;
  }

  .spot-intro_expla p:last-child {
    padding: 0;
    line-height: 2;
  }

  .self-intro_expla p:last-child {
    padding: 0;
    margin-top: 20px;
    line-height: 2;
  }
}

/* 新規登録ページ、ログインページ */

.signup_body {
  background-image: url("/images/signout.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70rem;
}

.login_body {
  background-image: url("/images/signout.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
}

.login-signup {
  position: relative;
  width: 425px;
  top: 80px;
}

.login-signup-header h1 {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  font-size: 250%;
}

.login-signup-form {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  padding: 2em 0;
}

.login-signup-form label {
  display: block;
  text-align: left;
  color: #fff;
  margin: 20px 0 10px 20px;
  padding-left: 1em;
  font-size: 1.4em;
}

.required:after {
  content: " *";
  color: red;
}

.login-signup-form p {
  position: relative;
  margin: auto;
  text-align: left;
  font-size: large;
  font-weight: bold;
  width: 75%;
}

.login-signup-form {
  box-sizing: border-box;
  padding-top: 25px;
  margin: 5% auto;
  text-align: center;
}

.login-signup textarea,
.login-signup input[type=text],
.login-signup input[type=email],
.login-signup input[type=password] {
  margin: auto;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  outline: none;
  width: 75%;
}

.login-signup input::-moz-placeholder {
  font-weight: bold;
  opacity: 0.7;
}

.login-signup input:-ms-input-placeholder {
  font-weight: bold;
  opacity: 0.7;
}

.login-signup input::placeholder {
  font-weight: bold;
  opacity: 0.7;
}

.login-signup input:focus {
  background: #DDDDDD;
}

.login-signup input[type=file] {
  margin: auto;
  width: 76%;
}

.login-signup-button {
  height: 30px;
  width: 100px;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  color: slategrey;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 30px;
  outline: none;
}

.login-signup-button:hover {
  background: #EEEEEE;
}

.login-signup-button:focus-within {
  outline: none;
}

.sign-up {
  font-size: 18px;
  color: #f2f2f2;
  margin-left: -70%;
  cursor: pointer;
}

.sign-up:hover {
  color: #f2f2f2;
}

.login-signup-password {
  position: relative;
  display: flex;
}

.js-password {
  padding-right: 2.5em;
}

.js-password-toggle {
  position: absolute;
  top: 13px;
  right: 60px;
  z-index: 10;
  transform: scale(2.4);
  cursor: pointer;
  opacity: 0;
}

.js-password-label {
  position: absolute;
  top: 7px;
  right: 56px;
  cursor: pointer;
}


